<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">

      <div class="menu">
        <a class="navbar-brand" href="#">
          <img src="/img/menu.svg" alt="menu" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">
          <img src="/img/lgcroche.jfif" alt="Logo" width="60" height="40" class="d-inline-block align-text-top">
        </a>
        <p class="text-logo"><i>Nilda Croches</i></p>
      </div>

      <div class="cart-profile">
        <a class="navbar-brand" href="#">
          <img src="/img/shopping_cart.svg" alt="cart" width="38" height="32" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">
          <img src="/img/account_circle.svg" alt="cart" width="38" height="32" class="d-inline-block align-text-top">
        </a>
      </div>
    </div>
  </nav>

  <div class="search-input">
    <!-- search.ejs -->
    <form action="/pesquisar" method="GET">
      <button type="submit">
        <img src="/img/search.svg" alt="search" width="38" height="32">
      </button>
      <input type="search" name="q" placeholder="Pesquisar">
    </form>
  </div>
  <!-- import carousel-->
  <div class="carousel">
    <%- include('./components/carousel.ejs') %>
  </div>

</header>