@media screen and (max-width: 1080px) {
 
}

@media screen and (max-height: 820px) {
    
}

@media screen and (max-width: 850px) {
   
}

@media screen and (max-width: 650px) { 
    
}

.bg-body-tertiary {
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: #E980A2;
    color: #fff; 

}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-logo{
    margin-top: 15px;
    font-size: 1.5em;
    color: #ebeeff;
}
.search-input{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border: 0.5px solid #E980A2;
}
